<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MonitorGroup" type="Supervisor.MonitorGroup, Supervisor" />
    <section name="SettingsGroup" type="Supervisor.SettingsGroup, Supervisor" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <MonitorGroup>
    <Applications>
      <add name="Notepad" path="C:\Windows\notepad.exe" alert="1" arguments="" />
    </Applications>
  </MonitorGroup>
  <SettingsGroup>
    <Settings>
      <add name="CheckPeriod" value="3" />
      <add name="AlertEnabled" value="0" />
      <add name="SMTPServer" value="" />
      <add name="SMTPUser" value="" />
      <add name="SMTPPassword" value="" />
      <add name="SMTPPort" value="587" />
      <add name="EmailTo" value="" />
      <add name="FirstRun" value="1" />
    </Settings>
  </SettingsGroup>
</configuration>