<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MonitorGroup" type="Supervisor.MonitorGroup, Supervisor" />
    <section name="SettingsGroup" type="Supervisor.SettingsGroup, Supervisor" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <MonitorGroup>
    <Applications>
      <add name="Notepad++" path="C:\Program Files (x86)\Notepad++\notepad++.exe" alert="1" arguments="" />
    </Applications>
  </MonitorGroup>
  <SettingsGroup>
    <Settings>
      <add name="Notepad++" value="C:\Program Files (x86)\Notepad++\notepad++.exe" />
    </Settings>
  </SettingsGroup>
</configuration>